<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-accordion-group>
      <ion-accordion value="start">
        <ion-item slot="header">
          <ion-label>Pick date</ion-label>
          <ion-note slot="end">{{ date | date: 'dd.MM.yyyy' }}</ion-note>
        </ion-item>
        <ion-datetime
          slot="content"
          presentation="date"
          [(ngModel)]="date"
          locale="sl-SI"
          [showDefaultButtons]="true"
        ></ion-datetime>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
